# might be mysql / sqlite / postgres (not yet)

db_backend="mysql"

# connect to db for data-collection
db_host = "localhost"
db_port = 3306
db_user = "user"
db_pass = "xxx"
db_db   = "rdf_master"



# if you have a testbot you dont want to hat #botpost as tag
# included, right?
spambot="spambot@yourpod.org"
